// Place all the styles related to the Tanks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.title-text {
  font-family: Calibri;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;    
}  

.bottom-link {
  border-radius: 5px;
  width: 90px;
  height: 30px;
  padding: 5px;
  background-color: rgb(7, 116, 31);
  font-family: Calibri;
  font-size: 15px;
  font-weight: bold;
  color: white;
  &:visited {
    color: white;
  }
  &:hover {
    transform: scale( 1.01, 1.01);
    outline: 1px double red;
  }
}

.options-card {
  margin: 20px 0px 0px;
  border-radius: 5px;
  width: auto; // 300px;
  height: auto; // 300px;
  padding: 15px;
  background-color: rgb(165, 126, 17);
  ul {
    column-count: auto;
    column-width: 8rem;
  }
}

.main-card {
  margin: 20px 0px 20px;
  border-radius: 5px;
  width: auto; // 300px;
  height: auto; // 300px;
  padding: 5px;
  background-color: rgb(144, 211, 128);
  ul {
    column-count: auto;
    column-width: 8rem;
  }
}